<footer class="footer">
  <p>Create with Antora using the <a href="{{site.ui.url}}">antora UI theme flow</a>.</p>
  <p>The source code for this UI is licensed under the terms of the MPL-2.0 license.</p>
</footer>
